In [10]:
def data_entry():
    c.execute('INSERT INTO stuffToPlot VALUES(1, 0.8, "Testing", 20, 0.7, 0.6)')
    conn.commit()
    c.close()
    conn.close()

In [11]:
#create_table()
data_entry()

OperationalError: no such table: myTable